/* 
    General Styles
*/
.myCard {
    min-width: 300px;
    margin-right: 10px;
    border: 1px solid gray;
};
.myCard > div > img {
    width: 100%;
};
.myCard > div {
    padding: 0%;
}
.my-carousel {
    display: flex;
    overflow-x: scroll;
};
/* .button-footer {
    display: flex;
    justify-content: space-between;
}; */
.body-text, .button-footer{
    padding: 10px;
};